.App {
  font-family: 'Roboto', sans-serif;
  width: 320px;
}

.App-maximise {
  font-family: 'Roboto', sans-serif;
  width: 600px;
}

.app-dark {
  background: #303030;
}

.app-light {
  background: #A1A1A1;
}

.dark-button, .light-button {
    background: none;
    color: white;
    border: none;
    padding-top: 4px;
    padding-left: 10px;
    font: inherit;
    cursor: pointer;
  }

  .calculator-key-dark {
    background-color: #6B6B6B;
    color: white;
    min-width: 80px;
    width: stretch;
    min-height: 80px;
    height: stretch;
    border: 1px solid black;
    text-align: center;
    line-height: 80px;
    font-size: 2em;
    font-family: inherit;
    flex: 1;
    cursor: pointer;
  }

  .calculator-key-light {
    background-color: #E5E5E5;
    color: black;
    min-width: 80px;
    width: stretch;
    min-height: 80px;
    height: stretch;
    border: 1px solid black;
    text-align: center;
    line-height: 80px;
    font-size: 2em;
    font-family: inherit;
    flex: 1;
    cursor: pointer;
  }
  .function-dark {
    background-color: #4F4F4F;
  }
  
  .function-light {
     background-color: #CFCFCF;
  }

.calculator{
  width: inherit;
  height: inherit;
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  padding: 0px;
}

button {
  padding: 0px;
}

.minimise {
  background-color: #ffbd4c;
  margin-left: 4px;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.close {
  background-color: #ff5c5c;
  margin-left: 4px;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.maximise {
  background: #00ca56;
  margin-left: 4px;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.calculator-display {
    color: white;
    font-size: 2.5em;
    font-family: inherit;
    text-align: right;
    /* min-height: 70px; */
    padding-top: 20px;
    padding-right: 16px;
    padding-bottom: 20px;
    width: stretch;
    /* height: stretch; */
    overflow: overlay;
  }

  #scrollbar::-webkit-scrollbar {
    background-color: inherit;
    height: 5px;
  }

  #scrollbar::-webkit-scrollbar-thumb
  {
    background-color: orange;
  }

.key-0 {
    text-align: left;
    padding-left: 32px;
  }

.operator {
  background-color: orange;
}

