.App {
  font-family: 'Roboto', sans-serif;
  width: 320px;
}

.App-maximise {
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.scientific {
  min-width: 800px;
}

.app-dark {
  background: #303030;
}

.app-light {
  background: #A1A1A1;
}

.dark-button, .light-button, .scientific-button {
    background: none;
    color: white;
    border: none;
    padding-left: 10px;
    font: inherit;
    cursor: pointer;
  }

.calculator-key-dark {
  background-color: #6B6B6B;
  color: white;
  min-width: 80px;
  width: stretch;
  min-height: 80px;
  height: stretch;
  border: 1px solid black;
  font-size: 2em;
  font-family: inherit;
  cursor: pointer;
}

.calculator-key-light {
  background-color: #E5E5E5;
  color: black;
  min-width: 80px;
  width: stretch;
  min-height: 80px;
  height: stretch;
  border: 1px solid black;
  font-size: 2em;
  font-family: inherit;
  cursor: pointer;
}
.function-dark {
  background-color: #4F4F4F;
}

.function-light {
    background-color: #CFCFCF;
}

.calculator{
  width: stretch;
  height: stretch;
}

button {
  padding: 0px;
}

.minimise {
  background-color: #ffbd4c;
  margin-left: 4px;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.close {
  background-color: #ff5c5c;
  margin-left: 4px;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.maximise {
  background: #00ca56;
  margin-left: 4px;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.calculator-display {
    color: white;
    font-size: 2.5em;
    font-family: inherit;
    text-align: right;
    padding-top: 20px;
    padding-right: 16px;
    padding-bottom: 20px;
    width: stretch;
    overflow: overlay;
  }

  #scrollbar::-webkit-scrollbar {
    background-color: inherit;
    height: 5px;
  }

  #scrollbar::-webkit-scrollbar-thumb
  {
    background-color: orange;
  }

.operator {
  background-color: orange;
}

.basicCalculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.scientificCalculator {
  display: grid;
  grid-template-columns: repeat(10, 1fr)
}

.zeroKey {
  grid-column: 1 / 3;
}

.zeroKeyScientific {
  grid-column: 7 / 9;
}